/* Add screen styles below */
a.active {
    font-weight: bold;
}
body {
    background: #F5F5F5;
}
nav {
    background: #FFFFFF;
    align-items: center;
    display: flex;
    height: 80px;
    padding-left: 10px;
}
.userinfo {
    background: #FFFFFF;
    border-radius: 10px;
    width: 300px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
}
.userinfo h2 {
    text-align: center;
    color: #0B2687;
}
b {
    color: #0B2687;
}

.socialfeed {
    background: #FFFFFF;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 350px;
    margin-top: 50px;
    width: 1080px;
    position: absolute;
}
.mainimg {
    border-radius: 50px;
}
.card1 {
    padding: 20px;
    max-width: 300px;
    max-height: 450px;
    position: absolute;
}
.card2 {
    padding: 20px;
    max-width: 300px;
    max-height: 450px;
    position: relative;
}
.card3 {
    padding: 20px;
    max-width: 300px;
    max-height: 450px;
    position: relative;
}
.card4 {
    padding: 20px;
    max-width: 300px;
    max-height: 450px;
    position: relative;
}
.card5 {
    padding: 20px;
    max-width: 300px;
    max-height: 450px;
    position: relative;
}
.card6 {
    padding: 20px;
    max-width: 300px;
    max-height: 450px;
    position: relative;
}